/* design all the boxes (developing)---------------- */
/** {
    border: 1px solid black;
    padding: 0px;
}
*/
/* blink efect (developing)--------------------------*/
/*.pendingResolve {
    animation: blinker 3s linear infinite;
    color: red;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}*/
/*---------------------------------------------------*/
.navbar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navLogo {
    padding-top: 3px;
    padding-right: 15px;
}

.banner-section {
    background-image: url("../img/barri.jpg");
    height: 180px;
}

.banner-section h1 {
    font-family: 'Sofia';
    font-size: 60px;
    color: white;
    margin: 0px;
    padding: 50px;
}

.text-info{
  margin: 10px 0px;
}

.text-info h1,
h2 {
    font-family: 'Sofia';
}

.information {
    font-size: 14px;
}

.formZipCode {
  margin-top: 25px;
  font-size: 25px;
}

.googleMaps {
  margin-top: 10px;
}

.shopsData {
  padding-left: 20px;
}

.panel {
    margin: 0px;
    border: 0px;
    padding-left: 0px;
    
}

.panel-default {
    margin: 0px;
    border: 0px;
 
}

.panel-heading:hover {
    cursor: pointer;
}

.list-group{
    margin-bottom: 0px;
}

.memoPad {
    background-image: url("../img/memoPad.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    border-bottom: 2px inset #A7A7A7
}

.memoPadBody li {
    list-style: none;
    padding-left: 20px;
}

.selectProducts {
    display: flex;
    justify-content: space-between;
}

#getZipCode {
    width: 120px;
}

#btn_SearchShops {
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
    display: block;
    background-color: #009ac9;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#btn_SearchShops:hover {
    background-color: #ffffff;
    color: #009ac9;
    border-color: #009ac9;
}

#btn_SelectShop {
    /*margin: 0 auto;*/
    font-size: 1.5rem;
    padding: 1rem 1rem;
    display: block;
    background-color: #009ac9;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#btn_SelectShop:hover {
    background-color: #ffffff;
    color: #009ac9;
    border-color: #009ac9;
}

#btn_ConfirmOrder {
    /*margin: 0 auto;*/
    font-size: 1.5rem;
    padding: 1rem 1rem;
    display: block;
    background-color: #009ac9;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#btn_ConfirmOrder:hover {
    background-color: #ffffff;
    color: #009ac9;
    border-color: #009ac9;
}

#insQuantityOrder {
    width: 4rem
}

#insCommentsOrder {
    width: : 0 auto;
}

#accordion {
    padding-left: 0px;
    padding-right: 0px;
}
