/* design all the boxes (developing)---------------- */


/*
* {
    border: 1px solid black;
    padding: 0px;
}
*/


/* blink efect (developing)--------------------------*/


/*.pendingResolve {
    animation: blinker 3s linear infinite;
    color: red;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}*/


/*---------------------------------------------------*/

hr {
    background-color: grey;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navLogo {
    padding-top: 3px;
    padding-right: 15px;
}

.banner-section {
    background-image: url("../img/barri.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section h1 {
    margin: 0px;
    margin-bottom: 30px;
}

.mainHead {
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mainTitle {
    font-family: 'Sofia';
    font-size: 60px;
    color: white;
}

.text-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Sofia';
    font-size: 25px;
    background-color: black;
    opacity: 0.6;
    padding: 10px;
    color: white;
}

.formZipCode {
    font-family: 'Sofia';
    font-size: 25px;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.firstZipCode {
    height: 40px;
    font-family: 'Sofia';
    font-size: 20px;
}

.getZipCode {
    width: 80px;
    height: 33px;
    font-size: 15px;
}

.showMap {
    margin-bottom: 20px;
}

.googleMaps {
    margin-top: 10px;
    height: 450px;
}

.shopsData {
    padding-left: 20px;
}

.panel {
    margin: 0px;
    border: 0px;
    padding-left: 0px;
}

.panel-default {
    margin: 0px;
    border: 0px;
}

.panel-heading:hover {
    cursor: pointer;
}

.list-group {
    margin-bottom: 0px;
    list-style: none;
}

.memoPad {
    background-image: url("../img/memoPad.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    border-bottom: 2px inset #A7A7A7
}

.memoPadBody li {
    list-style: none;
    padding-left: 30px;
}

.selectProducts {
    height: 90px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    /*   align-content: space-around;*/
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.productBuyText {
    background-color: black;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.productBuyText h4 {
    color: white;
    margin: 0px;
    opacity: 1;
    display: flex;
    align-items: center;
}

.productBuyQuantity {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.btn_FirstSearchShops {
    font-size: 2rem;
    padding: 0.5rem 0.75rem;
    display: block;
    background-color: #009ac9;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn_FirstSearchShops:hover {
    background-color: #ffffff;
    color: #009ac9;
    border-color: #009ac9;
}

.btn_SearchShops {
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
    display: block;
    background-color: #009ac9;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn_SearchShops:hover {
    background-color: #ffffff;
    color: #009ac9;
    border-color: #009ac9;
}

.btn_SelectShop {
    /*margin: 0 auto;*/
    font-size: 1.5rem;
    padding: 1rem 1rem;
    display: block;
    background-color: #009ac9;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn_SelectShop:hover {
    background-color: #ffffff;
    color: #009ac9;
    border-color: #009ac9;
}

.btn_ConfirmOrder {
    /*margin: 0 auto;*/
    font-size: 1.5rem;
    padding: 1rem 1rem;
    display: block;
    background-color: #009ac9;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn_ConfirmOrder:hover {
    background-color: #ffffff;
    color: #009ac9;
    border-color: #009ac9;
}

.insQuantityOrder {
    width: 4rem
}

.insCommentsOrder {
    width: : 0 auto;
}

.nav-footer{
    margin-top: 20px;
}

.copyright {
    min-height: 40px;
    background-color: black;
}

.copyright p {
    text-align: left;
    color: white;
    padding: 10px 0;
    margin-bottom: 0px;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
    color: white;
    font-size: 12px;
}

#accordion {
    padding-left: 0px;
    padding-right: 0px;
}
