/** {
  border: 1px solid black;
  padding: 0px;
}*/

/*.mainImg {
	background-image: url("../img/barri.jpg");
	opacity: 1;
  height: 500px;
}

.mainImg h1 {
	color:white;
}*/

/* page orderShop drop check box list ---------------*/

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
	  width: 1.3em;
	  height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

/*.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}*/

/*---------------------------------------------------*/

#btn_SearchShops {
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem;
  display: block;
  background-color: #009ac9;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#btn_SearchShops:hover {
  background-color: #ffffff;
	color: #009ac9;
  border-color: #009ac9;
}

#btn_SelectShop {
  /*margin: 0 auto;*/
  font-size: 1.5rem;
  padding: 1rem 1rem;
  display: block;
  background-color: #009ac9;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#btn_SelectShop:hover {
  background-color: #ffffff;
	color: #009ac9;
  border-color: #009ac9;
}

#btn_ConfirmOrder {
  /*margin: 0 auto;*/
  font-size: 1.5rem;
  padding: 1rem 1rem;
  display: block;
  background-color: #009ac9;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#btn_ConfirmOrder:hover {
  background-color: #ffffff;
	color: #009ac9;
  border-color: #009ac9;
}

#insQuantityOrder {
	width: 3rem
}

#insCommentsOrder {
	width: : 0 auto;
}
