<nav class="nav-footer">
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p>© 2017 - By OViciana</p>
            </div>
            <div class="col-md-6">
                <ul class="bottom_ul">
                    <li><a href="http://www.skylabcoders.com" target="_blank">SKylab Coders Academy</a></li>
                    <li>&nbsp;/&nbsp;</li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
