<div class="panel">
    <section>
        <h3>{{ vm.shop.name }}</h3>
        <h4>Selecciona Productos</h4>
        <div class="col-md-6">
            <!-- Begin accordion ******************************************************* -->
            <div class="panel-group" id="accordion" ng-repeat="category in vm.categories" >
                <!-- First Panel ******************************************************* -->
                <div class="panel panel-default">
                    <!-- ng-options="product.category for product in vm.shop.products | unique:'category'"> -->
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapse" >{{ category }}</h4>
                    </div>
                    <div id="collapse" class="panel-collapse collapse">
                        <div class="panel-body">
                            <!-- <div class="checkbox" ng-repeat="product in vm.shop.products | filter: product"> -->
                            <div id="checkboxes" class="checkbox" ng-repeat="product in vm.shop.products">
                                <div class="col-md-8">
                                    <label>
                                        <input type="checkbox" ng-model="selItems[product.name]">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>{{product.name}}
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <span>Cantidad:</span>
                                    <input type="text" id="insQuantityOrder" value="5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End accordion ******************************************************* -->
            </div>
        </div>
        <div class="col-md-6 memoPad img-responsive">
            <div class="memoPad2">
                <p>Productos en tu pedido</p>
                {{ selItems }}
                <ul class="list-group" ng-repeat="item in selItems">
                    <li>{{item}}</li>
                </ul>
            </div>
        </div>
    </section>
</div>
<section>
    <br/>
    <label>Comentarios a tu pedido</label>
    <textarea id="insCommentsOrder" class="form-control" rows="4" placeholder="indicar comentarios si se precisa"></textarea>
    <button id="btn_ConfirmOrder" data-toggle="modal" data-target="#sendOrder" id="launch">Confirmar pedido</button>
    <!-- <button id="btn_ConfirmOrder"><a style="color: black" href="sendMail.html">Confirmar Pedido</a></button>-->
</section>
<!-- Modal -->
<div class="modal fade" id="sendOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Enviar Pedido al Comercio</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <form class="" , action='/sendMail'>
                    <button id="btnCancelOrder" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnSendOrder" type="submit" class="btn btn-primary">Enviar Correo</button>
                </form>
            </div>
        </div>
    </div>
</div>
